.Time {
    display: flex;
    font-size: 20px;
    justify-content: center;
  }
  .Time > div {
    padding: 10px;
    background: #444;
    color: #fff;
    font-size: 30px;
    margin-right: 2px;
    width: 100px;
    display: flex;
    justify-content: center;
  }
  .Time > div > span {
    text-transform: uppercase;
    color: #999;
    font-size: 20px;
    display: flex;
    align-items: center;
  }
 
  