.card {
    margin: 10px;
    padding: 10px;
    width: 550px;
    border: 2px solid #333;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
   
}


.links a{
    margin: 15px;
}

.card-image{
    width:100%;
      
}